 <!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
    {% block title %}<title>Title</title>{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
{#______________________________#}

<nav role='navigation'>
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="{{ url_for("graph") }}">Графики</a>
    <li><a href="/january">Январь</a>
    <li><a href="/february">Февраль</a>
    <li><a href="/march">Март</a>
{#    <li><a href="{{ url_for("january") }}">Январь</a></li>#}
{#    <li><a href="{{ url_for("february") }}">Январь</a></li>#}
  </ul>
</nav>
{#________________________________________#}

{% block body %}
<div class="links">
        {% for i in entries %}
            {% if i.name.endswith('.html') %}
                <a href="{{ url_for("download", path=i.path) }}">{{ i.name }}</a></br>
            {% endif %}
        {% endfor %}
</div>
<div class="frames">
        {% for i in entries %}
            {% if i.name.endswith('.html') %}
                <div class="wrap"><iframe src="{{ url_for("download", path=i.path) }}" width="1200" height="530"></iframe></div>
            {% endif %}
        {% endfor %}
{% endblock %}

</div>
</body>
</html>